.cal{
    border: 2px solid black;
    width: 500px;
      border-radius: 10%;
    display: block;
    align-items: center;
    background-color:rgb(38, 0, 255);
}


button{
    border-radius: 20%;
    background-color: #f112de;
    font-size: 20px;
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 2px solid black;
}



#btn6{
    width: 160px;
    border-radius: 10%;
    font-size: 30px;
}
 
input{
    
    margin: 10px;
    border: 2px solid black;
    border: 30%;
    height: 50px;
    font-size: large;
    text-align: center;
}